MANIFEST

# Output files
*.png
*.root
*.xml

# Python temporary files
.eggs
.ipynb_checkpoints
.pytest_cache/
__pycache__
pycompwa.egg-info

# Python virtual environments
venv/

# Build files
_skbuild/
build/
dist/
*.so

# Visual Studio Code
.vscode/
**.code-workspace
