MANIFEST

# Output files
*.png
*.root
*.xml

# Python temporary files
*.pyc
.coverage
.coverage.*
.eggs
.ipynb_checkpoints
.pytest_cache/
__pycache__
htmlcov/
pycompwa.egg-info

# Python virtual environments
.tox/
*venv/

# Build files
_skbuild/
build/
dist/
*.so

# Visual Studio Code
/.vscode/c_cpp_properties.json
**.code-workspace
