MANIFEST

# Output files
*.png
*.root
*.xml

# Python temporary files
pycompwa.egg-info
.eggs
.ipynb_checkpoints
__pycache__

# Python virtual environments
venv/

# Build files
_skbuild/
build/
dist/
*.so

# Visual Studio Code
.vscode/
**.code-workspace
