language: cpp
os: linux
dist: bionic # default

branches:
  only:
    - master
    - /\d+\.\d+.*/ # Run on tags e.g. 0.1.2
  except: gh-pages

env:
  global:
    - OMP_NUM_THREADS: 1
    - LANG: en_US.UTF-8
    - BASEPATH: "$TRAVIS_BUILD_DIR"
    - ROOTSYS: "$BASEPATH/root"

addons:
  homebrew:
    packages:
      - boost
      - python3
      - pip3
  apt:
    update: true
    packages:
      - libboost-all-dev
      - python3
      - python3-pip
      - python3-venv
      - pandoc

before_install: # activate virtual environment
  - cd $BASEPATH
  - python3 -m venv venv
  - source ./venv/bin/activate

install: # install dependencies
  - python3 -m pip install scikit-build
  - python3 -m pip install -r tests/requirements.txt
  - wget https://root.cern.ch/download/root_${ROOTBIN}.tar.gz
  - tar xpvfz root_*.tar.gz > /dev/null 2>&1
  - source root/bin/thisroot.sh

before_script: # build the project
  - cd $BASEPATH
  - python3 setup.py  --generator "Unix Makefiles" --skip-generator-test install -- -- -j2

jobs:
  include:
    - name: Test XCode build
      os: osx
      osx_image: xcode10.2
      env:
        - TASK="clang, ROOT v6.18"
        - ROOTBIN="v6.18.04.macosx64-10.14-clang100"
      script:
        - echo "The tests can't run on mac osx because of a wrong RPATH in the precompiled root binaries"

    - name: Test gcc build (Linux)
      os: linux
      dist: bionic
      compiler: gcc
      env:
        - TASK="gcc7, ROOT v6.18"
        - ROOTBIN="v6.18.04.Linux-ubuntu18-x86_64-gcc7.4"
      script:
        - cd $BASEPATH/tests
        - python -m pytest

    - name: Test and deploy documentation
      os: linux
      dist: bionic
      compiler: gcc
      env:
        - TASK="test and deploy documentation"
        - ROOTBIN="v6.18.04.Linux-ubuntu18-x86_64-gcc7.4"
      install:
        - wget https://root.cern.ch/download/root_${ROOTBIN}.tar.gz
        - tar xpvfz root_*.tar.gz > /dev/null 2>&1
        - source root/bin/thisroot.sh
        - cd $BASEPATH
        - python3 -m pip install -r requirements.txt
        - python3 -m pip install -r doc/requirements.txt
        - python3 -m pip install virtualenvwrapper
      before_script: echo "Running developer mode installation"
      script: # developer mode build
        - cd $BASEPATH
        - source venv/bin/virtualenvwrapper.sh
        - add2virtualenv $BASEPATH
        - mkdir build
        - cd build
        - cmake .. -DUSE_GENEVA=OFF -DPYTHON_EXECUTABLE=$(which python)
        - make -j2
        - cd $BASEPATH/pycompwa
        - ln -s ../build/ui*.so
        - cd $BASEPATH/doc
        - make linkcheck
        - NBSPHINX_EXECUTE='' make html
      before_deploy:
        - cd $BASEPATH
        - openssl aes-256-cbc -K $encrypted_ffa3dff63372_key -iv $encrypted_ffa3dff63372_iv -in github_deploy_key.enc -out github_deploy_key -d
      deploy:
        strategy: git # default
        provider: pages
        keep_history: true
        deploy_key: github_deploy_key
        cleanup: false
        edge: true
        repo: ComPWA/ComPWA.github.io
        target_branch: master
        local_dir: "$BASEPATH/doc/build/html"
        verbose: true
        on:
          branch: master

    - name: test clang build (Linux) + code coverage
      os: linux
      dist: bionic
      compiler: clang
      env:
        - TASK="clang, ROOT v6.18 + code coverage"
        - ROOTBIN="v6.18.04.Linux-ubuntu18-x86_64-gcc7.4"
      script:
        - cd $BASEPATH/tests
        - python -m pytest
      after_success:
        - python3 -m pip install codecov
        - python3 -m codecov

    - name: Deploy PyPI package
      os: linux
      dist: bionic
      env:
        - TASK="deployment"
      install: echo "Skipping install stage!"
      script: echo "Skipping script stage!"
      before_script: echo "Skipping before_script stage!"
      before_deploy:
        - pip install scikit-build
        - pip install twine
      deploy:
        edge: true
        provider: pypi
        on:
          tags: true
        distributions: sdist
        skip_existing: false
        user: __token__
        password:
          secure: "X7mMu4fGfWdKRro8GGyiZTP3M5bRDVxY3qQj5stgQ/wfvp+am/ObiJ587xk2zfX4upEK81O1xmCZaRwzLAMSJdCERIb8hpMG189inYQ6eWWRCsImAOEsPbEMtOiMYyifwXz1exGgoszJNM72iqLphkSUdCRXiORkyoKhN2XvFTd6m7ABZugT68DlYXoZf9FsfY6xW+7gainnhMtROlcMxT1bNnMqjSAjZehmGjdDRROmOqcN2uc/GlgF/6b5aqUbxdyud9IzFNGw2s5XjIs4FlawF4PYAsWocddXcc0vlclJ40k5mpFezIzkdUHX6OnqGyuxke5/4Lh1NmK35BomKfa0GLABGK3EoBISiE/HvordGRP9Z/1Qo14nMpun00q2Ek8Pz2mmWxtfm4gRbw1UUCrrVErSGW/twvPceo5qlcfzdAx8pncIr1X7Q1ZF4GEdBHNHbgizAw72DPG1iUyu62s7fz6B86XT1RrmO3yWYkOM/bbc5u6C/8DAEeBajmHGaXC9wKR5UDIFeW3BNQ0+zjg4NmPMJ9Aj7yLZYdOA2Oc2mtPvOKf8wX/r75xw6jBHJadqEvtsAw9hr4PaQqY/FbIyzyz1lZkqIOE07SPvscSFSdvJFsj7Q3sR4xMNgL9yO+SfsCGHeNAQd14ZNdlfMGw29x3SMT5TCrgYI4vYEec="
